/* CSS */
.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  /* Adjust width as needed */
  width: calc(33.33% - 20px); /* Subtract margins */
  margin: 10px;
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
}
